/*Header Menu*/

.menuhead{
	margin: 0;
	padding: 0;
	float: left;
	width: 850px; height: 20px;
	/*background: #FFF url(/portal/Image/menu_bg.png);*/
	background-color:#02579D;
	font:bold 13px Arial, Tahoma, verdana, sans-serif;
	color:#FFF;
}

.menuhead li.top {
	display:block;
	float:left;
	border-right: 1px #000 solid;
}

.menuhead li a.top_link {
	display:block;
	float:left;
	height:35px;
	line-height:32px;
	color:#FFF;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	padding:0 13px 0 13px;/* padding-right: distance of between tabs*/
	cursor:pointer;
}
.menuhead li a.top_link span {
	float:left;
	display:block;
	padding:0 5px 0 5px; /*align left and right of text in tab*/
	_padding-left: 5px; _padding-right: 5px;
	#padding-left: 5px; #padding-right: 5px;
	height:35px;
}

.menuhead li a.top_link:hover {
	color:#FFF;
	background-color:#015cc0;
	line-height:35px;
}
.menuhead li a.top_link:hover span {
	background-color:#015cc0;
}
.menuhead li:hover > a.top_link {
	color:#FFF;
	background-color:#015cc0;
	line-height:35px;
}
.menuhead li:hover > a.top_link span {
	background-color:#015cc0;
}

/*Current*/

.menuhead li.current {
	display:block;
	float:left;
	border-right: 1px #000 solid;
}

.menuhead li a.current_link {
	display:block;
	float:left;
	height:35px;
	line-height:32px;
	color:#FFF;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	padding:0 10px 0 5px;/* padding-right: distance of between tabs*/
	cursor:pointer;
	background-color:#fd0700;
}
.menuhead li a.current_link span {
	float:left;
	display:block;
	padding:0 6px 0 10px; /*align left and right of text in tab*/
	_padding-left: 8px; _padding-right: 4px;
	#padding-left: 8px; #padding-right: 4px;
	height:35px; _height: 35px; _line-height:35px;
	background-color:#fd0700;
}
.menuhead li a.current_link:hover {
	color:#FFF;
	background-color:#015cc0;
	line-height:32px; _height: 35px; _line-height:35px;
}
.menuhead li a.current_link:hover span {
	background-color:#015cc0;
}
.menuhead li:hover > a.current_link {
	color:#FFF;
	background-color:#015cc0;
	line-height:35px;
}
.menuhead li:hover > a.current_link span {
	background-color:#015cc0;
}


.menuhead table {
	border-collapse:collapse;
	width:0;
	height:0;
	position:absolute;
	top:0;
	left:0;
}
/* Default link styling */

/* Style the list OR link hover. Depends on which browser is used */

.menuhead a:hover {
	visibility:visible;
	position:relative;
	z-index:200;
}
.menuhead li:hover {
	position:relative;
	z-index:200;
}
/* keep the 'next' level invisible by placing it off screen. */
.menuhead ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	width:0;
	height:0;
	margin:0;
	padding:0;
	list-style:none;
}

.menuhead ul.sub_gioithieu {
	width:195px;
}

.menuhead ul.sub_dichvu {
	width:250px;
}

.menuhead ul.sub_tintuc {
	width:210px;
} 

.menuhead ul.mnTuyendung {
	width:195px;
}

.menuhead ul.mnLienHe {
	width:195px;
}


.menuhead :hover ul {
	left:-1px;
	top:35px;
	background: #FFF;
	padding:0px;
	border:1px #000 solid;
	border-width:0 1px 1px;
	white-space:nowrap;
	height:auto;
	z-index:300;
}
.menuhead :hover ul li {
	display:block;
	height:30px; #line-height:30px;
	padding-bottom: 0px;
	position:relative;
	font-weight:normal;
	width:auto;
	background: #015cc0 url(../images/bullet_menumain.gif) no-repeat;
	background-position: 5px 8px;
	border: 1px #000 dotted;
	border-width: 0px 0px 1px 0px;
	#border-bottom: 1px #267b5b solid;
	vertical-align:middle;
}

.menuhead :hover .last {
	display:block;
	height:30px;
	position:relative;
	font-weight:normal;
	width:auto;
	background: #015cc0 url(../images/bullet_menumain.gif) no-repeat;
	background-position: 5px 7px;
	border-bottom: 0px
}

.menuhead :hover ul li a {
	display:block;
	font-size:13px;
	height:30px;
	line-height:20px;
	width:auto;
	padding:0 0 0 17px; /* align left of text in sub*/
	color:#FFF;
	text-decoration:none;
}
.menuhead :hover ul li a:hover {
	background:#fd0700 url(../images/bullet_menumain_over.gif) no-repeat;
	background-position: 5px 8px;
	color:#fff;
	font-weight: bold;
	padding-bottom: 2px; padding-left: 17px;
}

#Home .Menu .date_time{
	float: right;
	margin-left: 5px;
    padding-top: 10px;
	background-color:#02579D;
	font:bold 13px Arial, Tahoma, verdana, sans-serif;
	color:#FFF;
	margin-right: 2px;
}
/*End Header Menu*/

/* Left Menu*/
.transMenu {
 position:absolute ; 
 overflow:hidden; 
 left:-1000px; 
 top:-1000px; 
}
.transMenu .content {
 position:absolute  ; 
}
.transMenu .items {
 border: 0px solid #FFFFFF ; 
 position:relative ; 
 left:0px; top:0px; 
 z-index:2; 
}
.transMenu  td
{
 padding: 5px 5px 5px 5px !important;  
 font-size: 13px !important ; 
 font-family: Arial, Helvetica, sans-serif !important ; 
 text-align: left !important ; 
 font-weight: bold !important ; 
 color: #ffffff !important ; 
} 
#subwrap 
{ 
 text-align: left ; 
}
.transMenu  .item.hover td
{ 
 color: #000000 !important ; 
}
.transMenu .item { 
 text-decoration: none ; 
 cursor:pointer; 
 cursor:hand; 
}
.transMenu .background {
background-image:none; background-color: #4180b5 !important ; 
 position:absolute ; 
 left:0px; top:0px; 
 z-index:1; 
 opacity:0.85; 
 filter:alpha(opacity=85) 
}
.transMenu .shadowRight { 
 position:absolute ; 
 z-index:3; 
 top:-3000px; width:2px; 
 opacity:0.85; 
 filter:alpha(opacity=85)
}
.transMenu .shadowBottom { 
 position:absolute ; 
 z-index:1; 
 left:-3000px; height:2px; 
 opacity:0.85; 
 filter:alpha(opacity=85)
}
.transMenu .item.hover {
background-image:none; background-color: #FFFFFF !important ; 
}
.transMenu .item img { 
 margin-left:10px !important ; 
}
table.menu {
 top: 0px; 
 left: 0px; 
 position:relative ; 
 margin:0px !important ; 
 border: 0px solid #4180b5 ; 
 z-index: 1; 
}
table.menu a{
 margin:0px !important ; 
 padding: 5px 5px 5px 5px !important ; 
 display:block !important; 
 position:relative !important ; 
}
div.menu a,
div.menu a:visited,
div.menu a:link {
 width:170px; 
 font-size: 13px !important ; 
 font-family: Arial, Helvetica, sans-serif !important ; 
 text-align: left !important ; 
 font-weight: bold !important ; 
 color: #ffffff !important ; 
 text-decoration: none !important ; 
 margin-bottom:0px !important ; 
 display:block !important; 
 white-space:nowrap ; 
}

div.menu a:hover {
 width:170px; 
 font-size: 13px !important ; 
 font-family: Arial, Helvetica, sans-serif !important ; 
 text-align: left !important ; 
 font-weight: bold !important ; 
 text-decoration: none !important ; 
 margin-bottom:0px !important ; 
 display:block !important; 
 white-space:nowrap ; 
 background-image:none; color: #ffffff !important ; 
 background-color: #3d5b75 !important ; 
}

div.menu td {
 border-right: 1px solid #c8c8c8 ; 
 border-top: 1px solid #c8c8c8 ; 
 border-left: 1px solid #c8c8c8 ; 
background-image:none; background-color: #4180b5 !important ; 
} 
div.menu td.last {
 border-bottom: 1px solid #c8c8c8 ; 
} 
#trans-active a{
 color: #000000 !important ; 
background-image:none; background-color: #3d5b75 !important ; 
} 
#menu a.hover   { 
background-image:none; color: #000000 !important ; 
 background-color: #3d5b75 !important ; 
}
#menu span {
 display:none; 
}

/*End Left*/
/* Content */
#Home .Content{
	margin: 10px 0 0 0;
	padding: 0;
	height:750px;
}
/* Content */