/****** Script for SelectTopNRows command from SSMS  ******/
SELECT N' <a  target="_blank"  href="pThongTinKhachHang.aspx?db='+  DBDONGHONU  + '">'+DBDONGHONU+'</a>' as DANHBO,SONHA + ' ' + TENDUONG as DIACHI,dma  ,Lat,Long
  FROM [KYTHUAT].[dbo].[DongHo] dhn, CAPNUOCTANHOA.dbo.TB_DULIEUKHACHHANG kh
  where dhn.DBDONGHONU = kh.DANHBO
  
 
 
 SELECT COUNT(*)
 FROM [KYTHUAT].[dbo].[DongHo] dhn
 WHERE  dhn.DMA=88
  
SELECT COUNT(*) FROM CAPNUOCTANHOA.dbo.TB_DULIEUKHACHHANG KH, CAPNUOCTANHOA.dbo.GNKDT_THONGTINDMA DM
WHERE KH.MADMA=DM.MADMA AND DM.ID=88


SELECT DM.ID,KH.DANHBA FROM TB_DULIEUKHACHHANG KH, GNKDT_THONGTINDMA DM
WHERE KH.MADMA=DM.MADMA

UPDATE DongHo SET DMA=t.ID
FROM (
SELECT DM.ID,KH.DANHBO FROM CAPNUOCTANHOA.dbo.TB_DULIEUKHACHHANG KH, CAPNUOCTANHOA.dbo.GNKDT_THONGTINDMA DM
WHERE KH.MADMA=DM.MADMA ) as  t
where t.DANHBO = DongHo.DBDONGHONU

select COUNT(*) from DongHo



SELECT DM.ID,KH.MADMA,COUNT(*) FROM CAPNUOCTANHOA.dbo.TB_DULIEUKHACHHANG KH, CAPNUOCTANHOA.dbo.GNKDT_THONGTINDMA DM
WHERE KH.MADMA=DM.MADMA
GROUP BY DM.ID,KH.MADMA
ORDER BY  COUNT(*) DESC

SELECT DM.ID,REPLACE(REPLACE(KH.MADMA,'TH-',''),'-','.') AS DMA FROM CAPNUOCTANHOA.dbo.TB_DULIEUKHACHHANG KH, CAPNUOCTANHOA.dbo.GNKDT_THONGTINDMA DM
 WHERE KH.MADMA=DM.MADMA GROUP BY DM.ID,KH.MADMA